<div>
  <h2 class="page-title" data-bind="text: title"></h2>
  <p>
    This page is intentionally left blank. Click on the "Lists" link to see the demo.
  </p>

  <h3>Read more</h3>
  <ul>
    <li>
      <a href="http://rainerat.spirit.de/2013/04/08/durandal-sp3-developing-sharepoint-spas-made-easy/">http://rainerat.spirit.de/2013/04/08/durandal-sp3-developing-sharepoint-spas-made-easy/</a>
    </li>
    <li>
      <a href="http://sympmarc.com/2013/04/15/spservices-stories-13-durandal-sp3-developing-sharepoint-spas-made-easy/">http://sympmarc.com/2013/04/15/spservices-stories-13-durandal-sp3-developing-sharepoint-spas-made-easy/</a>
    </li>
  </ul>
  <p>Last update: 2013/05/17</p>
</div>
